.profile-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-self: center;
}

.form-container{
    display: flex;
    flex-direction: column;
}
.p-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 0.5em;
}

.p-form input{
    padding: 0.3em 0.7em;
}

.inp-cont{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.change-form{
    border: none;
    text-align: center;
}

.change-form:hover{
    text-decoration: underline;
    cursor: pointer;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}