.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.header a {
  text-decoration: none;
  font-weight: bold;
}

.links a {
  color: var(--black);
}

.logo {
  color: var(--accent);
  font-size: x-large;
}

.footer {
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: small;
}
