/* month */
.calendar {
  position: relative;
}
.calendar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

header h3 {
  margin: 0;
}

#next,
#prev {
  border: none;
  height: 2em;
  width: 2em;
  font-size: large;
  cursor: pointer;
  font-size: xx-large;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
  margin-bottom: -0.1em;
  margin-top: 0.5em;

  border-right: 0.1em solid var(--light-grey);
  border-bottom: 0.1em solid var(--light-grey);
}

.days li {
  text-align: center;
  padding: 0.5em;

  border-top: 0.1em solid var(--light-grey);
  border-left: 0.1em solid var(--light-grey);

  background-color: var(--white);
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
  margin-top: 0;

  border-right: 0.1em solid var(--light-grey);
  border-bottom: 0.1em solid var(--light-grey);
}

.date {
  text-align: right;
  padding: 0.5em;

  border-top: 0.1em solid var(--light-grey);
  border-left: 0.1em solid var(--light-grey);
  background-color: var(--white);

  font-size: small;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 6em;
  overflow: hidden;
}

.date-cont {
  display: flex;
  flex-direction: row-reverse;
}

.date li {
  padding: 0.25em 0.5em;
  width: 1em;
  font-weight: bold;
  text-align: center;
}

.g-day {
  color: var(--grey);
}

.today {
  background: var(--accent);
  border-radius: 0.25em;
}

.m-event {
  text-align: left;
  margin: 0.5em 0 0 0;
  background: var(--accent);
  border-radius: 0.25em;
  padding: 0.25em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 400px) {
  .m-event {
    font-size: x-small;
  }
}

@media (min-width: 1100px) {
  .calendar {
    margin: 0 5em;
  }
}

@media (min-width: 1500px) {
  .calendar {
    margin: 0 10em;
  }
}
