:root {
  --white: #ffffff;
  /* --white: #111720; */
  --black: #111720;
  /* --black: #FFFFFF; */
  --light-grey: #d1d1d1;
  --grey: #868686;
  --accent: #70b99b;
  --light-accent: #91ceb4;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 1em 1em 0 1em;
  background: var(--white);
  color: var(--black);
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
}

.a-btn {
  text-decoration: none;
  border: none;
  color: var(--black);
  background: var(--accent);
  padding: 1em;
  border-radius: 0.5em;
}

.a-btn:hover {
  background: var(--light-accent);
}

.w-btn {
  text-decoration: none;
  border: solid var(--black) 0.1em;
  color: var(--black);
  background: var(--white);
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.w-btn:hover {
  background: var(--black);
  color: var(--white);
  border: solid var(--black) 0.1em;
}

@media (max-width: 400px) {
  h3 {
    font-size: small;
  }
  button {
    font-size: small;
  }
  li {
    font-size: small;
  }
}
