:root {
  --white: #ffffff;
  /* --white: #111720; */
  --black: #111720;
  /* --black: #FFFFFF; */
  --grey: #737373;
  --accent: #87b370;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 1em;
  background: var(--white);
  color: var(--black);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96vh;
}

.b-btn {
  text-decoration: none;
  border: solid var(--black) 0.1em;
  color: var(--white);
  background: var(--black);
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.b-btn:hover {
  background: var(--white);
  color: var(--black);
  border: solid var(--black) 0.1em;
}

.w-btn {
  text-decoration: none;
  border: solid var(--black) 0.1em;
  color: var(--black);
  background: var(--white);
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.w-btn:hover {
  background: var(--black);
  color: var(--white);
  border: solid var(--black) 0.1em;
}
